/** GLOBAL **/

.cloudcms-theme .cloudcms-theme-header
{
    border: 0px;
}

.cloudcms-theme a {
    color: #FF6600;
}

.cloudcms-theme a:visited {
    color: #DD4400;
}

.cloudcms-theme .cloudcms-theme-footer {
    background: url(./footer-logo.jpg);
    width: 80px;
    height: 50px;
}


/** PLATFORM **/

.cloudcms-theme .cloudcms-theme-header.cloudcms-theme-header-platform
{
    background-color: #FF6600;
}

.cloudcms-theme .cloudcms-theme-header.cloudcms-theme-header-platform .context-header-logo
{
    background: url(./header-logo.jpg) no-repeat center !important;;
    width: 77px;
    height: 48px;
}


/** PROJECT **/

.cloudcms-theme .cloudcms-theme-header.cloudcms-theme-header-project
{
    background-color: #C3BEBA;
}

.cloudcms-theme div[region="workspace-bar"] {
    border-top: 0px;
    background-color: #837E7A;
}